# Port number
PORT=3000

QR_BACKEND_URL=http://localhost:3000

# JWT
JWT_SECRET=thisisasamplesecret
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

GAMESHIFT_API_KEY=
GAMESHIFT_DEVELOPER_WALLET_PRIVATE_KEY=
GAMESHIFT_DEVELOPER_WALLET_PUBLIC_KEY=
GAMESHIFT_HOOKS_VALIDATION_KEY=
GAMESHIFT_BASE_URL=https://api.gameshift.dev/nx/
GAMESHIFT_TOKEN_RR_ID=

DATABASE_URL=


FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY=your-private-key
FIREBASE_CLIENT_EMAIL=your-client-email
